@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    /*POSICIONANDO EXATAMENTE NO MEIO*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 537px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: 265px;
}

iframe#tela {
    /*Primeiro ajustar a posição top e left*/
    position: relative;
    top: 67.1px;
    left: 19.16px;
    /*Depois ajustar a largura e altura pra os outros lados*/
    width: 228px;
    height: 403px;
}